/* 
--GENERAL
--HEADER
-----OPTION
-----COMPTE
--NAVIGATION
--MAIN
----ACCUEIL
----PRESENTATION
----BOUTIQUE
--FOOTER

*/

/* -- GENERAL -- */
:root {
    --couleur_primaire: #000000;
    --couleur_fond_fonce: #242424;
    --couleur_secondaire: white;
    --couleur_second_clair: #eeeeee;
}

body {
    background-color: var(--couleur_second_clair);
    color: var(--couleur_primaire);
}


#button_theme {
    background-color: var(--couleur_second_clair);
    border: 0px;
}




a {
    color: var(--couleur_primaire);
}

@media (max-width: 600px) {


    .lien_nav {
        background-color: var(--couleur_second_clair);        

    }
 }