/* 
--GENERAL
--HEADER
-----OPTION
-----COMPTE
--NAVIGATION
--MAIN
----ACCUEIL
----PRESENTATION
----BOUTIQUE
--FOOTER

*/

    /* -- GENERAL -- */

:root {
    --couleur_primaire : #000000;
    --couleur_fond_fonce : #242424;
    --couleur_secondaire: white;
    --couleur_second_clair : #eeeeee;
}

svg {
    height: 25px;
    width: 25px;
}

    /* -- HEADER -- */

.logo {
    max-width: 250px;
}

    /* Header haut */

.header_haut {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}

    /* Header options */

.header_options {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}





/*
.button_langues {
    border: 2px solid black;
    padding: 8px;
    border-radius: 10px;
    background: linear-gradient(to right, #002395, #FFF, #ED2939);
}*/
    /* Header compte */

.header_compte {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0 2rem 0 0;
}
.button_inscription {
    border: 2px solid black;
    padding: 8px;
    border-radius: 10px;
}

.button_connexion {
    border: 2px solid black;
    padding: 8px;
    border-radius: 10px;

}
    /* Header bas */

.header_bas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.note {
    text-align: center;

}
    /* -- NAVIGATION -- */

.menu-icon {
    display: none;
    cursor: pointer;
}

.lien_nav {
    padding-left: 0;
    text-align: center;
    display: flex;
    justify-content: space-around;

}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
}

.button_ferme_menu {
    display: none;
}
    /* -- MAIN -- */

    /* ACCUEIL */

.accueil_jeu {

    position: relative;
    display: flex;
    justify-content: center;
}

.accueil_picture {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.accueil_img img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border: 3px solid black;  
}

.accueil_img {
position: relative;
}

.accueil_txt {
    position: absolute;
    font-size: 1.2rem;
    top: 25px;
    left: 50px;
    width: 50%;     
    text-align: center;

}

.button_telechargement {
 
    border-radius: 10px;
    padding: 5px;
}

.button_telechargement a {
    text-decoration: none;
}


    /* PRESENTATION */
.presentation img {
    border: 3px solid black;
    height: 300px;
    object-fit: cover;
}
    /* Actarya */

.pres_actarya {
    text-align: center;
    margin: 2rem;
    gap: 1.5rem;

}

    /* Cartes */

.pres_cartes {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 1rem;
}

.pres_cartes_txt {
    text-align: center;
    flex: 1 1 205px;
}

.pres_picture {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.pres_picture img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 3px solid black;
}

    /* Faction */

.pres_faction {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    gap: 1.5rem;
    margin-top: 1rem;
    align-content: center;
}

.pres_faction_txt {
    text-align: center;
    flex: 1 1 246px;
}

.img_faction {
    align-self: center;
}
    /* A venir */

.pres_avenir {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.pres_avenir h2 {
    text-align: center;
}

.pres_avenir ul {
    align-self: center;
}


    /* BOUTIQUE */

.boutique {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}



.boutique_txt {
    text-align: center;
}

.boutique_produits {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.produits1, .produits2, .produits3 {
    padding: 20px;
}

    /* FOOTER */

.footer_haut {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
}

.button_new_email, .button_new_envoyer {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.footer_reseaux {
    display: flex;

    gap: 1.5rem;
}


.icon-social {
    display: flex;
    align-self: center;
}

        /* MEDIA QUERIES */

@media (max-width: 1200px)  {
    .img_perso {
        display: none;
    }

    .accueil_jeu {
        display: flex;        
    }

    .img_jeu {
        align-content: center;
    }
    .accueil_txt {
        position: absolute;
        font-size: 1.2rem;
        top: 25px;
        left: 50px;
        width: 50%;
        text-align: center;

    }
}


@media (max-width: 600px) {
.header_haut {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    }


    .menu-icon {
    display: flex;
    justify-content: start;
    margin: 1rem 0 1rem 2rem;

    }

    .lien_nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0; 
    overflow-x: hidden;
    transition: 0.5s;
    flex-direction: column;
    justify-content: start;
    gap: 3rem;



    }
    .button_ferme_menu {
        display: flex;
        justify-content: flex-end;
        margin: 20px 20px 0 0;
        cursor: pointer;
    }



    .lien_nav.active {
        width: 200px;

    }

}


